Repository MystenLabs/seal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joyqvq, @benr-ml, @jonas-lj, @abhinavg6

.github/CODEOWNERS:

/examples @joyqvq @benr-ml @jonas-lj
/crates @jonas-lj @benr-ml @joyqvq
/move @jonas-lj @benr-ml @joyqvq
*.md @benr-ml @abhinavg6 @joyqvq @jonas-lj

typed mvr look ups
  Cargo.toml
  crates/key-server/Cargo.toml
  crates/key-server/src/mvr.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

More clean up
  crates/key-server/src/mvr.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

name test
  crates/key-server/src/mvr.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

simplify
  crates/key-server/src/mvr.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

tests
  crates/key-server/src/mvr.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

check name
  crates/key-server/src/mvr.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

lifetime
  crates/key-server/src/mvr.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

fmt
  crates/key-server/src/mvr.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

fmt
  crates/key-server/src/mvr.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

remove packageinfo obj
  crates/key-server/src/externals.rs
  crates/key-server/src/package_info.rs
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

revert
  crates/key-server/src/externals.rs
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

fmt
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

clean up
  crates/key-server/src/externals.rs
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

review
  Cargo.toml
  crates/key-server/Cargo.toml
  crates/key-server/src/mvr.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

fmt
  crates/key-server/src/mvr.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

docs
  crates/key-server/src/mvr.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

docs
  crates/key-server/src/mvr.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

fmt
  Cargo.lock
  crates/key-server/src/externals.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

imports
  crates/key-server/src/externals.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

fix rebase
  crates/key-server/src/externals.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

bump rust version for edition2024
  Dockerfile
Owners: none

1.87
  Dockerfile
Owners: none

bullseye base image to match runtime
  Dockerfile
Owners: none

Set release version v0.4.1
  Cargo.lock
  Cargo.toml
Owners: none

upgrade to 0.4.7
  examples/frontend/package.json
  examples/frontend/pnpm-lock.yaml
Owners: @joyqvq, @benr-ml, @jonas-lj

change package version handling
  Design.md
  UsingSeal.md
  crates/key-server/src/errors.rs
  crates/key-server/src/externals.rs
  crates/key-server/src/server.rs
  crates/key-server/src/tests/mod.rs
  crates/key-server/src/tests/whitelist.rs
  crates/key-server/src/tests/whitelist_v2/Move.toml
  crates/key-server/src/tests/whitelist_v2/sources/whitelist_v2.move
  move/patterns/sources/account_based.move
  move/patterns/sources/key_request.move
  move/patterns/sources/private_data.move
  move/patterns/sources/subscription.move
  move/patterns/sources/tle.move
  move/patterns/sources/voting.move
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

fix tests
  crates/key-server/src/tests/mod.rs
  crates/key-server/src/tests/whitelist.rs
  crates/key-server/src/tests/whitelist_v1/Move.toml
  crates/key-server/src/tests/whitelist_v1/sources/whitelist_v1.move
Owners: @jonas-lj, @benr-ml, @joyqvq

Apply suggestions from code review of doc updates
  Design.md
  UsingSeal.md
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

update
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

fix
  Design.md
  UsingSeal.md
  crates/key-server/src/externals.rs
  crates/key-server/src/server.rs
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

MVR docs
  UsingSeal.md
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

Update UsingSeal.md
  UsingSeal.md
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

add new object id
  Dockerfile
  crates/key-server/src/server.rs
  crates/key-server/src/tests/mod.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

Enhance Whitelist functionality by adding share_whitelist function and modify Cap struct to include store capability.
  move/patterns/sources/whitelist.move
Owners: @jonas-lj, @benr-ml, @joyqvq

Remove unneeded comment
  move/patterns/sources/whitelist.move
Owners: @jonas-lj, @benr-ml, @joyqvq

pass obj id in the request
  Dockerfile
  crates/key-server/src/errors.rs
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

Update Design.md
  Design.md
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

Update UsingSeal.md
  UsingSeal.md
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

use query param
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

fix: use SessionKey.create
  UsingSeal.md
  examples/frontend/package.json
  examples/frontend/pnpm-lock.yaml
  examples/frontend/src/AllowlistView.tsx
  examples/frontend/src/EncryptAndUpload.tsx
  examples/frontend/src/SubscriptionView.tsx
  examples/frontend/src/networkConfig.ts
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj
