Repository MystenLabs/seal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joyqvq, @benr-ml, @jonas-lj, @abhinavg6

.github/CODEOWNERS:

/examples @joyqvq @benr-ml @jonas-lj
/crates @jonas-lj @benr-ml @joyqvq
/move @jonas-lj @benr-ml @joyqvq
*.md @benr-ml @abhinavg6 @joyqvq @jonas-lj

remove logging
  crates/seal-proxy/src/middleware.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

mirror walrus proxy
  Cargo.lock
  crates/key-server/Cargo.toml
  crates/key-server/key-server-config.yaml
  crates/key-server/src/metrics_push.rs
  crates/key-server/src/server.rs
  crates/seal-proxy/Cargo.toml
  crates/seal-proxy/src/admin.rs
  crates/seal-proxy/src/client.rs
  crates/seal-proxy/src/config.rs
  crates/seal-proxy/src/consumer.rs
  crates/seal-proxy/src/handlers.rs
  crates/seal-proxy/src/histogram_relay.rs
  crates/seal-proxy/src/lib.rs
  crates/seal-proxy/src/main.rs
  crates/seal-proxy/src/metrics.rs
  crates/seal-proxy/src/metrics_push.rs
  crates/seal-proxy/src/middleware.rs
  crates/seal-proxy/src/prom_to_mimir.rs
  crates/seal-proxy/src/providers.rs
  crates/seal-proxy/src/providers/seal.rs
  crates/seal-proxy/src/providers/seal/provider.rs
  crates/seal-proxy/src/remote_write.rs
  docker/seal-proxy/local-test/bearer-tokens.yaml
  docker/seal-proxy/local-test/config.alloy
  docker/seal-proxy/local-test/metrics-generator/Cargo.lock
  docker/seal-proxy/local-test/metrics-generator/src/main.rs
  docker/seal-proxy/local-test/metrics-generator/src/metrics_push.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

update
  Cargo.lock
  crates/key-server/Cargo.toml
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

merge
  Cargo.lock
Owners: none

cargo
  Cargo.lock
Owners: none

licensesnip check
  crates/seal-proxy/src/allowers.rs
  crates/seal-proxy/src/main.rs
  crates/seal-proxy/src/metrics_push.rs
  crates/seal-proxy/src/middleware.rs
  docker/seal-proxy/local-test/metrics-generator/src/main.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

add to key-server
  Cargo.lock
  crates/key-server/Cargo.toml
  crates/key-server/src/key_server_options.rs
  crates/key-server/src/metrics_push.rs
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

cargo fmt 2
  crates/seal-proxy/src/admin.rs
  crates/seal-proxy/src/config.rs
  crates/seal-proxy/src/consumer.rs
  crates/seal-proxy/src/handlers.rs
  crates/seal-proxy/src/histogram_relay.rs
  crates/seal-proxy/src/lib.rs
  crates/seal-proxy/src/main.rs
  crates/seal-proxy/src/metrics.rs
  crates/seal-proxy/src/middleware.rs
  crates/seal-proxy/src/providers.rs
  crates/seal-proxy/src/providers/seal.rs
  crates/seal-proxy/src/providers/seal/provider.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

update cargo lock
  Cargo.lock
Owners: none

seal-proxy clippy
  Cargo.lock
  crates/seal-proxy/src/consumer.rs
  crates/seal-proxy/src/handlers.rs
  crates/seal-proxy/src/metrics.rs
  crates/seal-proxy/src/middleware.rs
  crates/seal-proxy/src/providers/seal/provider.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

fix dockerfile
  Cargo.lock
Owners: none

cargo fmt
  crates/seal-proxy/src/lib.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

mid
  crates/seal-proxy/src/runtime.rs
  docker/seal-proxy/local-test/metrics-generator/rust-toolchain
Owners: @jonas-lj, @benr-ml, @joyqvq

fix
  crates/seal-proxy/src/client.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

cargo fmt
  crates/key-server/src/key_server_options.rs
  crates/key-server/src/metrics_push.rs
  crates/key-server/src/server.rs
  crates/key-server/src/tests/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

move client functions to a dedicated mod
  crates/seal-proxy/src/lib.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

update cargo lock
  Cargo.lock
Owners: none

update
  Cargo.lock
  crates/seal-proxy/Cargo.toml
Owners: @jonas-lj, @benr-ml, @joyqvq

cargo fmt
  Cargo.lock
  crates/key-server/Cargo.toml
  crates/key-server/key-server-config.yaml
  crates/key-server/src/metrics_push.rs
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

add README
  crates/seal-proxy/README.md
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

udpate local test
  docker/seal-proxy/local-test/metrics-generator/Cargo.lock
  docker/seal-proxy/local-test/metrics-generator/Cargo.toml
  docker/seal-proxy/local-test/seal-proxy.yaml
Owners: none

license check
  crates/seal-proxy/src/prom_to_mimir.rs
  crates/seal-proxy/src/providers.rs
  crates/seal-proxy/src/remote_write.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

cargo fmt
  crates/key-server/src/metrics_push.rs
  crates/seal-proxy/src/handlers.rs
  crates/seal-proxy/src/metrics.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

address comments
  move/seal/sources/bf_hmac_encryption.move
  move/seal/sources/kdf.move
  move/seal/sources/key_server.move
  move/seal/sources/polynomial.move
Owners: @jonas-lj, @benr-ml, @joyqvq

use move 2024
  examples/move/sources/allowlist.move
  move/patterns/sources/voting.move
  move/seal/sources/bf_hmac_encryption.move
  move/seal/sources/key_server.move
Owners: @joyqvq, @benr-ml, @jonas-lj

Update server.rs
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

remove legacy
  crates/key-server/src/key_server_options.rs
  crates/key-server/src/master_keys.rs
  crates/key-server/src/server.rs
  crates/key-server/src/tests/mod.rs
  crates/key-server/src/tests/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

address comments
  move/seal/sources/key_server.move
Owners: @jonas-lj, @benr-ml, @joyqvq

pass
  Design.md
  README.md
  UsingSeal.md
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

Apply suggestions from code review
  README.md
  UsingSeal.md
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

add store to keyserver
  move/seal/sources/key_server.move
Owners: @jonas-lj, @benr-ml, @joyqvq

remove degree check
  move/seal/sources/bf_hmac_encryption.move
Owners: @jonas-lj, @benr-ml, @joyqvq

viz
  move/seal/sources/polynomial.move
Owners: @jonas-lj, @benr-ml, @joyqvq

comments
  move/seal/sources/bf_hmac_encryption.move
  move/seal/sources/key_server.move
Owners: @jonas-lj, @benr-ml, @joyqvq

getter for id as address
  move/patterns/sources/voting.move
  move/seal/sources/key_server.move
Owners: @jonas-lj, @benr-ml, @joyqvq

better label handling
  crates/seal-proxy/src/config.rs
  crates/seal-proxy/src/consumer.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

cargo clippy
  crates/seal-proxy/src/consumer.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

add more logging info
  crates/seal-proxy/src/admin.rs
  crates/seal-proxy/src/consumer.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

install ca-certificates
  crates/seal-proxy/Cargo.toml
  crates/seal-proxy/src/admin.rs
  crates/seal-proxy/src/consumer.rs
  crates/seal-proxy/src/main.rs
  docker/seal-proxy/Dockerfile
  docker/seal-proxy/local-test/seal-proxy.yaml
Owners: @jonas-lj, @benr-ml, @joyqvq

update doc
  docs/UsingSeal.md
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj
