Repository MystenLabs/seal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joyqvq, @benr-ml, @jonas-lj, @abhinavg6

Use Moka cache
  Cargo.lock
  crates/key-server/Cargo.toml
  crates/key-server/src/cache.rs
  crates/key-server/src/externals.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

lock
  Cargo.lock
Owners: none

Add endpoint unit test
  Cargo.lock
  crates/key-server/Cargo.toml
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

import
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

test cases
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

doc: link key servers
  UsingSeal.md
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

Fetch key test
  crates/key-server/src/server.rs
  crates/key-server/src/tests/mod.rs
  crates/key-server/src/tests/whitelist.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

refactor
  crates/key-server/src/server.rs
  crates/key-server/src/tests/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

lock
  Cargo.lock
Owners: none

revert viz
  crates/key-server/src/tests/whitelist.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

revert
  crates/key-server/src/tests/whitelist.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

remove asserts
  move/seal/sources/bf_hmac_encryption.move
Owners: @jonas-lj, @benr-ml, @joyqvq

Update UsingSeal.md
  UsingSeal.md
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

fix workflow
  .github/workflows/move.yml
  crates/key-server/src/tests/whitelist_v1/Move.toml
  crates/key-server/src/tests/whitelist_v2/Move.toml
  move/patterns/Move.toml
  move/seal/Move.toml
Owners: @jonas-lj, @benr-ml, @joyqvq

chore: add provider to doc
  Pricing.md
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

make key server owned
  move/patterns/sources/voting.move
  move/seal/sources/bf_hmac_encryption.move
  move/seal/sources/key_server.move
Owners: @jonas-lj, @benr-ml, @joyqvq

seal-proxy skeleton
  crates/seal-proxy/Cargo.toml
  crates/seal-proxy/src/allowers.rs
  crates/seal-proxy/src/config.rs
  crates/seal-proxy/src/handlers.rs
  crates/seal-proxy/src/lib.rs
  crates/seal-proxy/src/main.rs
  crates/seal-proxy/src/metrics.rs
  crates/seal-proxy/src/middleware.rs
  crates/seal-proxy/src/runtime.rs
  crates/seal-proxy/src/server.rs
  docker/seal-proxy/Dockerfile
  docker/seal-proxy/local-test/config.alloy
  docker/seal-proxy/local-test/dashboard/dashboard.json
  docker/seal-proxy/local-test/dashboard/datasources.yaml
  docker/seal-proxy/local-test/docker-compose.yml
  docker/seal-proxy/local-test/metrics-generator/Cargo.lock
  docker/seal-proxy/local-test/metrics-generator/Cargo.toml
  docker/seal-proxy/local-test/metrics-generator/Dockerfile
  docker/seal-proxy/local-test/metrics-generator/rust-toolchain
  docker/seal-proxy/local-test/metrics-generator/src/main.rs
  docker/seal-proxy/local-test/mimir.yaml
  docker/seal-proxy/local-test/seal-proxy.yaml
Owners: @jonas-lj, @benr-ml, @joyqvq

fix dockerfile
  Cargo.lock
  docker/seal-proxy/local-test/metrics-generator/Dockerfile
Owners: none

cargo fmt
  crates/seal-proxy/src/allowers.rs
  crates/seal-proxy/src/config.rs
  crates/seal-proxy/src/handlers.rs
  crates/seal-proxy/src/lib.rs
  crates/seal-proxy/src/main.rs
  crates/seal-proxy/src/metrics.rs
  crates/seal-proxy/src/metrics_push.rs
  crates/seal-proxy/src/middleware.rs
  crates/seal-proxy/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

cargo clippy 2
  crates/seal-proxy/src/main.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

add README
  crates/seal-proxy/README.md
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

mid
  crates/seal-proxy/src/runtime.rs
  docker/seal-proxy/Dockerfile
  docker/seal-proxy/local-test/config.alloy
  docker/seal-proxy/local-test/docker-compose.yml
  docker/seal-proxy/local-test/metrics-generator/Cargo.lock
  docker/seal-proxy/local-test/metrics-generator/Cargo.toml
  docker/seal-proxy/local-test/metrics-generator/Dockerfile
  docker/seal-proxy/local-test/metrics-generator/rust-toolchain
  docker/seal-proxy/local-test/metrics-generator/rust-toolchain.toml
  docker/seal-proxy/local-test/metrics-generator/src/main.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

move client functions to a dedicated mod
  crates/seal-proxy/src/client.rs
  crates/seal-proxy/src/config.rs
  crates/seal-proxy/src/lib.rs
  crates/seal-proxy/src/metrics_push.rs
  docker/seal-proxy/local-test/metrics-generator/src/main.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

merge
  Cargo.lock
  crates/seal-proxy/Cargo.toml
  docker/seal-proxy/local-test/metrics-generator/Cargo.lock
  docker/seal-proxy/local-test/metrics-generator/Cargo.toml
Owners: @jonas-lj, @benr-ml, @joyqvq

cargo clippy 1
  crates/seal-proxy/src/handlers.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

add README
  crates/seal-proxy/README.md
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

remove unneeded parts
  Cargo.lock
  crates/seal-proxy/Cargo.toml
  crates/seal-proxy/src/allowers.rs
  crates/seal-proxy/src/handlers.rs
  crates/seal-proxy/src/lib.rs
  crates/seal-proxy/src/main.rs
  crates/seal-proxy/src/server.rs
  docker/seal-proxy/local-test/metrics-generator/Cargo.lock
Owners: @jonas-lj, @benr-ml, @joyqvq

licensesnip check
  crates/seal-proxy/src/allowers.rs
  crates/seal-proxy/src/main.rs
  crates/seal-proxy/src/metrics_push.rs
  crates/seal-proxy/src/middleware.rs
  docker/seal-proxy/local-test/metrics-generator/src/main.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

cargo fmt
  crates/seal-proxy/src/client.rs
  crates/seal-proxy/src/lib.rs
  crates/seal-proxy/src/metrics_push.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

remove logging
  crates/seal-proxy/src/middleware.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

working
  Cargo.lock
  crates/seal-proxy/Cargo.toml
  crates/seal-proxy/src/allowers.rs
  crates/seal-proxy/src/config.rs
  crates/seal-proxy/src/handlers.rs
  crates/seal-proxy/src/lib.rs
  crates/seal-proxy/src/metrics_push.rs
  crates/seal-proxy/src/middleware.rs
  crates/seal-proxy/src/runtime.rs
  crates/seal-proxy/src/server.rs
  docker/seal-proxy/local-test/bearer-tokens.yaml
  docker/seal-proxy/local-test/dashboard/datasources.yaml
  docker/seal-proxy/local-test/docker-compose.yml
  docker/seal-proxy/local-test/metrics-generator/Cargo.lock
  docker/seal-proxy/local-test/metrics-generator/Cargo.toml
  docker/seal-proxy/local-test/metrics-generator/src/main.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

update cargo lock
  Cargo.lock
Owners: none

mid
  crates/seal-proxy/src/runtime.rs
  docker/seal-proxy/local-test/metrics-generator/rust-toolchain
Owners: @jonas-lj, @benr-ml, @joyqvq

cargo fmt
  crates/seal-proxy/src/lib.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

merge
  Cargo.lock
Owners: none

seal-proxy skeleton
  crates/seal-proxy/src/runtime.rs
  docker/seal-proxy/local-test/metrics-generator/rust-toolchain
Owners: @jonas-lj, @benr-ml, @joyqvq

working
  crates/seal-proxy/src/middleware.rs
  crates/seal-proxy/src/runtime.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

fix metrics-generator
  docker/seal-proxy/local-test/metrics-generator/src/main.rs
Owners: none

fix dockerfile
  Cargo.lock
Owners: none

add to key-server
  Cargo.lock
  crates/key-server/Cargo.toml
  crates/key-server/key-server-config.yaml
  crates/key-server/src/key_server_options.rs
  crates/key-server/src/server.rs
  crates/key-server/src/tests/e2e.rs
  crates/key-server/src/tests/mod.rs
  crates/key-server/src/tests/server.rs
  crates/seal-proxy/src/client.rs
  crates/seal-proxy/src/metrics_push.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

.github/CODEOWNERS:

/examples @joyqvq @benr-ml @jonas-lj
/crates @jonas-lj @benr-ml @joyqvq
/move @jonas-lj @benr-ml @joyqvq
*.md @benr-ml @abhinavg6 @joyqvq @jonas-lj
