Repository MystenLabs/seal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joyqvq, @benr-ml, @jonas-lj, @abhinavg6

.github/CODEOWNERS:

/examples @joyqvq @benr-ml @jonas-lj
/crates @jonas-lj @benr-ml @joyqvq
/move @jonas-lj @benr-ml @joyqvq
*.md @benr-ml @abhinavg6 @joyqvq @jonas-lj

Apply suggestions from code review
  docs/UsingSeal.md
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

add mainnet pkg
  docs/UsingSeal.md
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

update update doc
  docs/UsingSeal.md
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

add ca-certificates to prod image
  docker/seal-proxy/Dockerfile
Owners: none

Verify key tests + more elaborate parse test
  move/seal/sources/bf_hmac_encryption.move
Owners: @jonas-lj, @benr-ml, @joyqvq

Add tests for verify derived keys
  move/seal/sources/bf_hmac_encryption.move
Owners: @jonas-lj, @benr-ml, @joyqvq

[cli]: merge env var name
  crates/key-server/src/master_keys.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

update test
  UsingSeal.md
  crates/key-server/src/master_keys.rs
  crates/key-server/src/tests/e2e.rs
  docs/UsingSeal.md
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

sync doc
  UsingSeal.md
  docs/UsingSeal.md
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

add node_name to labels
  crates/seal-proxy/src/consumer.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

rust fix
  crates/seal-proxy/src/consumer.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

Update docs/UsingSeal.md
  docs/UsingSeal.md
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

Syncing the docs for walrus site deploy
  Pricing.md
  README.md
  UsingSeal.md
  docs/Design.md
  docs/UsingSeal.md
  docs/index.md
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

test + fix consistency check
  move/seal/sources/bf_hmac_encryption.move
Owners: @jonas-lj, @benr-ml, @joyqvq

clena up
  move/seal/sources/bf_hmac_encryption.move
Owners: @jonas-lj, @benr-ml, @joyqvq

don't change pub fun
  move/seal/sources/bf_hmac_encryption.move
Owners: @jonas-lj, @benr-ml, @joyqvq

clean up
  move/seal/sources/bf_hmac_encryption.move
Owners: @jonas-lj, @benr-ml, @joyqvq

prettier
  move/seal/sources/bf_hmac_encryption.move
Owners: @jonas-lj, @benr-ml, @joyqvq

more tests
  move/seal/sources/bf_hmac_encryption.move
Owners: @jonas-lj, @benr-ml, @joyqvq

remove redundant
  move/seal/sources/bf_hmac_encryption.move
Owners: @jonas-lj, @benr-ml, @joyqvq

simplify
  move/seal/sources/bf_hmac_encryption.move
Owners: @jonas-lj, @benr-ml, @joyqvq

simplify a bit...
  move/seal/sources/bf_hmac_encryption.move
Owners: @jonas-lj, @benr-ml, @joyqvq

clean up
  move/seal/sources/bf_hmac_encryption.move
Owners: @jonas-lj, @benr-ml, @joyqvq

more tests
  move/seal/sources/bf_hmac_encryption.move
Owners: @jonas-lj, @benr-ml, @joyqvq

clean up
  move/seal/sources/bf_hmac_encryption.move
Owners: @jonas-lj, @benr-ml, @joyqvq

Simplify
  move/seal/sources/bf_hmac_encryption.move
Owners: @jonas-lj, @benr-ml, @joyqvq

more clean up
  move/seal/sources/bf_hmac_encryption.move
Owners: @jonas-lj, @benr-ml, @joyqvq

readability
  move/seal/sources/bf_hmac_encryption.move
Owners: @jonas-lj, @benr-ml, @joyqvq

optimise
  move/seal/sources/bf_hmac_encryption.move
Owners: @jonas-lj, @benr-ml, @joyqvq

name
  move/seal/sources/bf_hmac_encryption.move
Owners: @jonas-lj, @benr-ml, @joyqvq

naming
  move/seal/sources/bf_hmac_encryption.move
Owners: @jonas-lj, @benr-ml, @joyqvq

simplify
  move/seal/sources/bf_hmac_encryption.move
  move/seal/sources/polynomial.move
Owners: @jonas-lj, @benr-ml, @joyqvq

clarify
  move/seal/sources/polynomial.move
Owners: @jonas-lj, @benr-ml, @joyqvq

typo
  move/seal/sources/polynomial.move
Owners: @jonas-lj, @benr-ml, @joyqvq

revert
  move/seal/sources/bf_hmac_encryption.move
Owners: @jonas-lj, @benr-ml, @joyqvq

refactor
  move/seal/sources/bf_hmac_encryption.move
Owners: @jonas-lj, @benr-ml, @joyqvq

comment
  move/seal/sources/bf_hmac_encryption.move
Owners: @jonas-lj, @benr-ml, @joyqvq

0.4.7 release
  Cargo.lock
  Cargo.toml
Owners: none

[seal-sdk] new crate
  Cargo.lock
  Cargo.toml
  crates/crypto/Cargo.toml
  crates/crypto/src/ibe.rs
  crates/crypto/src/lib.rs
  crates/key-server/Cargo.toml
  crates/key-server/src/sui_rpc_client.rs
  crates/key-server/src/tests/e2e.rs
  crates/seal-cli/src/main.rs
  crates/seal-sdk/Cargo.toml
  crates/seal-sdk/src/lib.rs
  crates/seal-sdk/src/types.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

Clean up deps
  Cargo.lock
  Cargo.toml
  crates/key-server/Cargo.toml
Owners: @jonas-lj, @benr-ml, @joyqvq
