Repository MystenLabs/seal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joyqvq, @benr-ml, @jonas-lj, @abhinavg6

rebase
  crates/key-server/src/externals.rs
  crates/key-server/src/key_server_options.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

update openssl
  Cargo.lock
  deny.toml
Owners: none

limit
  crates/key-server/src/valid_ptb.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

limit
  crates/key-server/src/valid_ptb.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

upgrade
  examples/frontend/package.json
  examples/frontend/pnpm-lock.yaml
Owners: @joyqvq, @benr-ml, @jonas-lj

another
  examples/frontend/package.json
  examples/frontend/pnpm-lock.yaml
Owners: @joyqvq, @benr-ml, @jonas-lj

Add CLI tool for deriving keys
  crates/crypto/src/ibe.rs
  crates/seal-cli/src/main.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

clean up
  crates/crypto/src/ibe.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

Apply suggestions from code review
  move/seal/README.md
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

chore: add readme for move package
  move/seal/README.md
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

revert a few change copy changes
  move/seal/README.md
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

pr comments
  crates/key-server/key-server-config.yaml
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

move
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

update
  crates/key-server/src/key_server_options.rs
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

all in 1 commit
  Cargo.lock
Owners: none

remove
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

change legacy to optional
  crates/key-server/key-server-config.yaml
  crates/key-server/src/key_server_options.rs
  crates/key-server/src/server.rs
  crates/key-server/src/tests/mod.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

all in 1 commit
  crates/key-server/Cargo.toml
  crates/key-server/key-server-config.yaml
  crates/key-server/src/errors.rs
  crates/key-server/src/key_server_options.rs
  crates/key-server/src/server.rs
  crates/key-server/src/tests/externals.rs
  crates/key-server/src/tests/mod.rs
  crates/key-server/src/tests/tle.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

change to u64
  crates/key-server/src/key_server_options.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

Add genseed command
  crates/crypto/src/ibe.rs
  crates/seal-cli/src/main.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

use utils function
  crates/crypto/src/ibe.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

use u64
  crates/crypto/src/ibe.rs
  crates/seal-cli/src/main.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

clean up
  crates/seal-cli/src/main.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

update regression test after u16->u64
  crates/crypto/src/ibe.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

Use hex encoding + refactor key derivation
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

refactor
  crates/crypto/src/ibe.rs
  crates/key-server/src/server.rs
  crates/seal-cli/src/main.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

Define default encoding
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

backward compatability
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

viz
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

fix: Add cache for mvr name to package id
  crates/key-server/src/cache.rs
  crates/key-server/src/externals.rs
  crates/key-server/src/mvr.rs
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

refactor and ttl
  crates/key-server/src/cache.rs
  crates/key-server/src/externals.rs
  crates/key-server/src/mvr.rs
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

chore: add git version with cargo
  Cargo.lock
  crates/key-server/Cargo.toml
  crates/key-server/src/server.rs
  crates/key-server/src/utils.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

separate header
  crates/key-server/src/server.rs
  crates/key-server/src/utils.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

Enforce '0x' prefix for hex strings
  crates/seal-cli/src/hex_prefix.rs
  crates/seal-cli/src/main.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

rename + docs
  crates/seal-cli/src/main.rs
  crates/seal-cli/src/prefixed_hex.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

refactor
  crates/crypto/src/lib.rs
  crates/crypto/src/prefixed_hex.rs
  crates/key-server/src/server.rs
  crates/seal-cli/src/main.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

Simplify test setup
  crates/key-server/src/tests/e2e.rs
  crates/key-server/src/tests/mod.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

Add constructor for permissioned mode
  crates/key-server/src/tests/mod.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

add build arg to docker
  Dockerfile
Owners: none

improve docs, add docker
  Dockerfile
  UsingSeal.md
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

.github/CODEOWNERS:

/examples @joyqvq @benr-ml @jonas-lj
/crates @jonas-lj @benr-ml @joyqvq
/move @jonas-lj @benr-ml @joyqvq
*.md @benr-ml @abhinavg6 @joyqvq @jonas-lj
