Repository MystenLabs/seal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joyqvq, @benr-ml, @jonas-lj, @abhinavg6

remove logging
  crates/seal-proxy/src/middleware.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

move client functions to a dedicated mod
  crates/seal-proxy/src/lib.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

fix
  crates/seal-proxy/src/client.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

update
  Cargo.lock
  crates/seal-proxy/Cargo.toml
Owners: @jonas-lj, @benr-ml, @joyqvq

update cargo lock
  Cargo.lock
Owners: none

cargo
  Cargo.lock
Owners: none

update
  Cargo.lock
  crates/key-server/Cargo.toml
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

Mkdocs-material initial commit
  .gitignore
  CONTRIBUTING.md
  docs/Design.md
  docs/Pricing.md
  docs/SecurityBestPractices.md
  docs/TermsOfService.md
  docs/UsingSeal.md
  docs/index.md
  mkdocs.yml
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

Minor changes after publishing the Walrus Site
  docs/Pricing.md
  docs/index.md
  ws-resources.json
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

export types
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

export lib
  crates/key-server/Cargo.toml
  crates/key-server/src/lib.rs
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

expose cert
  crates/key-server/src/server.rs
  crates/key-server/src/types.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

fetchkey req
  crates/key-server/src/server.rs
  crates/key-server/src/types.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

export FetchKeyResponse
  crates/key-server/src/server.rs
  crates/key-server/src/tests/externals.rs
  crates/key-server/src/tests/server.rs
  crates/key-server/src/types.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

fix: Nextjs to Vite
  examples/frontend/tsconfig.json
Owners: @joyqvq, @benr-ml, @jonas-lj

fix: build error
  examples/frontend/src/AllowlistView.tsx
  examples/frontend/src/App.tsx
  examples/frontend/src/EncryptAndUpload.tsx
  examples/frontend/src/SubscriptionView.tsx
Owners: @joyqvq, @benr-ml, @jonas-lj

fix: snake case naming
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

fix: typo
  UsingSeal.md
  examples/frontend/src/App.tsx
  move/patterns/sources/voting.move
  move/seal/sources/bf_hmac_encryption.move
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

fix: typo
  examples/frontend/src/App.tsx
Owners: @joyqvq, @benr-ml, @jonas-lj

working
  Cargo.lock
  crates/seal-proxy/Cargo.toml
  crates/seal-proxy/src/allowers.rs
  crates/seal-proxy/src/config.rs
  crates/seal-proxy/src/handlers.rs
  crates/seal-proxy/src/lib.rs
  crates/seal-proxy/src/metrics_push.rs
  crates/seal-proxy/src/middleware.rs
  crates/seal-proxy/src/runtime.rs
  crates/seal-proxy/src/server.rs
  docker/seal-proxy/local-test/bearer-tokens.yaml
  docker/seal-proxy/local-test/dashboard/datasources.yaml
  docker/seal-proxy/local-test/docker-compose.yml
  docker/seal-proxy/local-test/metrics-generator/Cargo.lock
  docker/seal-proxy/local-test/metrics-generator/Cargo.toml
  docker/seal-proxy/local-test/metrics-generator/src/main.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

mid
  crates/seal-proxy/src/runtime.rs
  docker/seal-proxy/Dockerfile
  docker/seal-proxy/local-test/config.alloy
  docker/seal-proxy/local-test/docker-compose.yml
  docker/seal-proxy/local-test/metrics-generator/Cargo.lock
  docker/seal-proxy/local-test/metrics-generator/Cargo.toml
  docker/seal-proxy/local-test/metrics-generator/Dockerfile
  docker/seal-proxy/local-test/metrics-generator/rust-toolchain
  docker/seal-proxy/local-test/metrics-generator/rust-toolchain.toml
  docker/seal-proxy/local-test/metrics-generator/src/main.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

merge
  Cargo.lock
  crates/seal-proxy/Cargo.toml
  docker/seal-proxy/local-test/metrics-generator/Cargo.lock
  docker/seal-proxy/local-test/metrics-generator/Cargo.toml
Owners: @jonas-lj, @benr-ml, @joyqvq

fix dockerfile
  Cargo.lock
  docker/seal-proxy/local-test/metrics-generator/Dockerfile
Owners: none

seal-proxy skeleton
  crates/seal-proxy/Cargo.toml
  crates/seal-proxy/src/allowers.rs
  crates/seal-proxy/src/config.rs
  crates/seal-proxy/src/handlers.rs
  crates/seal-proxy/src/lib.rs
  crates/seal-proxy/src/main.rs
  crates/seal-proxy/src/metrics.rs
  crates/seal-proxy/src/middleware.rs
  crates/seal-proxy/src/runtime.rs
  crates/seal-proxy/src/server.rs
  docker/seal-proxy/Dockerfile
  docker/seal-proxy/local-test/config.alloy
  docker/seal-proxy/local-test/dashboard/dashboard.json
  docker/seal-proxy/local-test/dashboard/datasources.yaml
  docker/seal-proxy/local-test/docker-compose.yml
  docker/seal-proxy/local-test/metrics-generator/Cargo.lock
  docker/seal-proxy/local-test/metrics-generator/Cargo.toml
  docker/seal-proxy/local-test/metrics-generator/Dockerfile
  docker/seal-proxy/local-test/metrics-generator/rust-toolchain
  docker/seal-proxy/local-test/metrics-generator/src/main.rs
  docker/seal-proxy/local-test/mimir.yaml
  docker/seal-proxy/local-test/seal-proxy.yaml
Owners: @jonas-lj, @benr-ml, @joyqvq

cargo fmt
  crates/seal-proxy/src/allowers.rs
  crates/seal-proxy/src/config.rs
  crates/seal-proxy/src/handlers.rs
  crates/seal-proxy/src/lib.rs
  crates/seal-proxy/src/main.rs
  crates/seal-proxy/src/metrics.rs
  crates/seal-proxy/src/metrics_push.rs
  crates/seal-proxy/src/middleware.rs
  crates/seal-proxy/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

cargo clippy 1
  crates/seal-proxy/src/handlers.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

cargo clippy 2
  crates/seal-proxy/src/main.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

cargo fmt
  crates/seal-proxy/src/client.rs
  crates/seal-proxy/src/lib.rs
  crates/seal-proxy/src/metrics_push.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

metrics-generator works with new proxy code
  crates/seal-proxy/src/config.rs
  crates/seal-proxy/src/handlers.rs
  crates/seal-proxy/src/main.rs
  crates/seal-proxy/src/middleware.rs
  docker/seal-proxy/local-test/config.alloy
  docker/seal-proxy/local-test/metrics-generator/Cargo.lock
  docker/seal-proxy/local-test/metrics-generator/Cargo.toml
  docker/seal-proxy/local-test/metrics-generator/src/main.rs
  docker/seal-proxy/local-test/metrics-generator/src/metrics_push.rs
  docker/seal-proxy/local-test/seal-proxy.yaml
Owners: @jonas-lj, @benr-ml, @joyqvq

clippy
  crates/key-server/src/metrics_push.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

move client functions to a dedicated mod
  crates/seal-proxy/src/client.rs
  crates/seal-proxy/src/config.rs
  crates/seal-proxy/src/lib.rs
  crates/seal-proxy/src/metrics_push.rs
  docker/seal-proxy/local-test/metrics-generator/src/main.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

seal-proxy skeleton
  crates/seal-proxy/src/runtime.rs
  docker/seal-proxy/local-test/metrics-generator/rust-toolchain
Owners: @jonas-lj, @benr-ml, @joyqvq

add to key-server
  Cargo.lock
  crates/key-server/Cargo.toml
  crates/key-server/key-server-config.yaml
  crates/key-server/src/key_server_options.rs
  crates/key-server/src/server.rs
  crates/key-server/src/tests/e2e.rs
  crates/key-server/src/tests/mod.rs
  crates/key-server/src/tests/server.rs
  crates/seal-proxy/src/client.rs
  crates/seal-proxy/src/metrics_push.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

fix metrics-generator
  docker/seal-proxy/local-test/metrics-generator/src/main.rs
Owners: none

remove unneeded parts
  Cargo.lock
  crates/seal-proxy/Cargo.toml
  crates/seal-proxy/src/allowers.rs
  crates/seal-proxy/src/handlers.rs
  crates/seal-proxy/src/lib.rs
  crates/seal-proxy/src/main.rs
  crates/seal-proxy/src/server.rs
  docker/seal-proxy/local-test/metrics-generator/Cargo.lock
Owners: @jonas-lj, @benr-ml, @joyqvq

working
  crates/seal-proxy/src/middleware.rs
  crates/seal-proxy/src/runtime.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

add README
  crates/seal-proxy/README.md
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

remove logging
  crates/seal-proxy/src/middleware.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

key server working
  Cargo.lock
  crates/key-server/Cargo.toml
  crates/key-server/src/metrics_push.rs
  crates/seal-proxy/README.md
Owners: @jonas-lj, @benr-ml, @joyqvq, @abhinavg6

update cargo lock
  Cargo.lock
Owners: none

.github/CODEOWNERS:

/examples @joyqvq @benr-ml @jonas-lj
/crates @jonas-lj @benr-ml @joyqvq
/move @jonas-lj @benr-ml @joyqvq
*.md @benr-ml @abhinavg6 @joyqvq @jonas-lj
