Repository MystenLabs/seal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joyqvq, @benr-ml, @jonas-lj, @abhinavg6

.github/CODEOWNERS:

/examples @joyqvq @benr-ml @jonas-lj
/crates @jonas-lj @benr-ml @joyqvq
/move @jonas-lj @benr-ml @joyqvq
*.md @benr-ml @abhinavg6 @joyqvq @jonas-lj

update
  Cargo.lock
  Cargo.toml
  crates/crypto/Cargo.toml
  crates/key-server/Cargo.toml
Owners: @jonas-lj, @benr-ml, @joyqvq

use <> instead
  UsingSeal.md
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

fix tests
  crates/key-server/src/tests/e2e.rs
  crates/key-server/src/tests/mod.rs
  crates/key-server/src/tests/whitelist.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

clean up e2e test
  crates/key-server/src/tests/e2e.rs
  crates/key-server/src/tests/mod.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

clean up mit
  crates/key-server/src/tests/e2e.rs
  crates/key-server/src/tests/mod.rs
  crates/key-server/src/tests/pd.rs
  crates/key-server/src/tests/tle.rs
  crates/key-server/src/tests/whitelist.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

Add constructor for permissioned mode
  crates/key-server/src/tests/mod.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

refactor
  crates/key-server/src/tests/e2e.rs
  crates/key-server/src/tests/mod.rs
  crates/key-server/src/tests/pd.rs
  crates/key-server/src/tests/server.rs
  crates/key-server/src/tests/tle.rs
  crates/key-server/src/tests/whitelist.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

Simplify test setup
  crates/key-server/src/tests/e2e.rs
  crates/key-server/src/tests/mod.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

e2e test works
  crates/key-server/src/tests/e2e.rs
  crates/key-server/src/tests/mod.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

fix
  crates/key-server/src/tests/e2e.rs
  crates/key-server/src/tests/mod.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

test
  crates/key-server/src/tests/mod.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

add store for Cap, better doc for import
  UsingSeal.md
  move/seal/sources/key_server.move
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

Test import/export
  crates/key-server/src/tests/e2e.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

check test
  crates/key-server/src/tests/e2e.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

Error msg
  crates/key-server/src/tests/e2e.rs
  crates/key-server/src/tests/externals.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

docs
  crates/key-server/src/tests/e2e.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

use informative error
  crates/key-server/src/tests/e2e.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

test multiple clients
  crates/key-server/src/tests/e2e.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

use internal error
  crates/key-server/src/tests/e2e.rs
  crates/key-server/src/tests/externals.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

refactor
  crates/key-server/src/tests/e2e.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

clean up
  crates/key-server/src/tests/e2e.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

sui rpc client: retry + timeout
  crates/key-server/src/externals.rs
  crates/key-server/src/key_server_options.rs
  crates/key-server/src/mvr.rs
  crates/key-server/src/server.rs
  crates/key-server/src/sui_rpc_client.rs
  crates/key-server/src/tests/e2e.rs
  crates/key-server/src/tests/mod.rs
  crates/key-server/src/tests/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

Docs + clean up
  crates/key-server/Cargo.toml
  crates/key-server/src/key_server_options.rs
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

lock
  Cargo.lock
Owners: none

address comments
  crates/key-server/src/mvr.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

add metrics to track sui rpc requests
  crates/key-server/src/externals.rs
  crates/key-server/src/metrics.rs
  crates/key-server/src/mvr.rs
  crates/key-server/src/server.rs
  crates/key-server/src/sui_rpc_client.rs
  crates/key-server/src/tests/e2e.rs
  crates/key-server/src/tests/mod.rs
  crates/key-server/src/tests/pd.rs
  crates/key-server/src/tests/server.rs
  crates/key-server/src/tests/tle.rs
  crates/key-server/src/tests/whitelist.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

cleanup
  crates/key-server/src/externals.rs
  crates/key-server/src/mvr.rs
  crates/key-server/src/server.rs
  crates/key-server/src/sui_rpc_client.rs
  crates/key-server/src/tests/e2e.rs
  crates/key-server/src/tests/mod.rs
  crates/key-server/src/tests/pd.rs
  crates/key-server/src/tests/server.rs
  crates/key-server/src/tests/tle.rs
  crates/key-server/src/tests/whitelist.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

Refactor server.rs
  Cargo.lock
  crates/key-server/src/key_server_options.rs
  crates/key-server/src/master_keys.rs
  crates/key-server/src/server.rs
  crates/key-server/src/tests/e2e.rs
  crates/key-server/src/tests/mod.rs
  crates/key-server/src/utils.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

docs
  Cargo.lock
  crates/key-server/Cargo.toml
  crates/key-server/src/master_keys.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

Refactor periodic updater
  crates/key-server/src/periodic_updater.rs
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

More readable duration checks
  crates/key-server/src/externals.rs
  crates/key-server/src/server.rs
  crates/key-server/src/tests/tle.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

refactor
  crates/key-server/src/cache.rs
  crates/key-server/src/externals.rs
  crates/key-server/src/key_server_options.rs
  crates/key-server/src/server.rs
  crates/key-server/src/tests/e2e.rs
  crates/key-server/src/tests/externals.rs
  crates/key-server/src/tests/mod.rs
  crates/key-server/src/tests/tle.rs
  crates/key-server/src/time.rs
  crates/key-server/src/utils.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

fix import
  crates/key-server/src/tests/tle.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

viz
  crates/key-server/src/time.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

imports
  crates/key-server/src/tests/tle.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

var
  crates/key-server/src/time.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

unit tests
  crates/key-server/src/time.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

fix tests
  crates/key-server/src/time.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

Use MVR name in example app
  examples/frontend/package.json
  examples/frontend/pnpm-lock.yaml
  examples/frontend/src/AllowlistView.tsx
  examples/frontend/src/constants.ts
  examples/frontend/src/networkConfig.ts
Owners: @joyqvq, @benr-ml, @jonas-lj

deps
  examples/frontend/package.json
  examples/frontend/pnpm-lock.yaml
Owners: @joyqvq, @benr-ml, @jonas-lj
