Repository MystenLabs/seal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joyqvq, @benr-ml, @jonas-lj, @abhinavg6

Various project-setup improvements
  .github/dependabot.yml
  .github/workflows/move.yml
  .github/workflows/rust.yml
  .github/workflows/typescript.yml
  .gitignore
  .licensesnip
  .pre-commit-config-example.yaml
  CONTRIBUTING.md
  Cargo.toml
  crates/crypto/src/gf256.rs
  crates/crypto/src/lib.rs
  crates/crypto/src/tss.rs
  crates/key-server/src/externals.rs
  crates/key-server/src/metrics.rs
  crates/key-server/src/server.rs
  crates/key-server/src/tests/mod.rs
  crates/key-server/src/tests/server.rs
  examples/frontend/index.html
  examples/frontend/src/index.html
  examples/frontend/src/utils.ts
  examples/frontend/vite.config.ts
  rust-toolchain
  rust-toolchain.toml
  rustfmt.toml
  scripts/changed-files.sh
  scripts/get_current_version.sh
  scripts/license_check.sh
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

Fix installation of nextest in CI
  .github/workflows/rust.yml
Owners: none

Allow mvr package name in signed message
  crates/key-server/src/errors.rs
  crates/key-server/src/externals.rs
  crates/key-server/src/server.rs
  crates/key-server/src/signed_message.rs
  crates/key-server/src/tests/externals.rs
  crates/key-server/src/tests/tle.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

Get mvr name from chain
  Cargo.toml
  crates/key-server/Cargo.toml
  crates/key-server/src/errors.rs
  crates/key-server/src/externals.rs
  crates/key-server/src/server.rs
  crates/key-server/src/signed_message.rs
  crates/key-server/src/tests/externals.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

slightly more elegant
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

less hacky
  crates/key-server/src/externals.rs
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

clean up
  crates/key-server/src/externals.rs
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

fix
  crates/key-server/src/tests/tle.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

simplify
  crates/key-server/src/externals.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

allow unlicensed
  deny.toml
Owners: none

error msg
  crates/key-server/src/errors.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

fmt
  crates/key-server/src/externals.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

refactor
  crates/key-server/src/externals.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

fmt
  crates/key-server/src/tests/tle.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

try add version
  deny.toml
Owners: none

refactor
  Cargo.lock
  crates/key-server/src/errors.rs
  crates/key-server/src/externals.rs
  crates/key-server/src/mvr.rs
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

more refactor
  crates/key-server/src/errors.rs
  crates/key-server/src/externals.rs
  crates/key-server/src/mvr.rs
  crates/key-server/src/server.rs
  crates/key-server/src/signed_message.rs
  crates/key-server/src/tests/externals.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

Forward resolve of mvr
  Cargo.toml
  crates/key-server/Cargo.toml
  crates/key-server/src/externals.rs
  crates/key-server/src/mvr.rs
  crates/key-server/src/server.rs
  crates/key-server/src/signed_message.rs
  crates/key-server/src/tests/externals.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

more clean up
  crates/key-server/src/externals.rs
  crates/key-server/src/package_info.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

more refactor
  crates/key-server/src/mvr.rs
  crates/key-server/src/package_info.rs
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

refactor
  crates/key-server/src/errors.rs
  crates/key-server/src/externals.rs
  crates/key-server/src/mvr.rs
  crates/key-server/src/package_info.rs
  crates/key-server/src/server.rs
  crates/key-server/src/signed_message.rs
  crates/key-server/src/tests/externals.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

remove test
  crates/key-server/src/externals.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

clean up
  crates/key-server/src/package_info.rs
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

Metrics
  crates/key-server/src/package_info.rs
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

more clean up
  deny.toml
Owners: none

refactor 2
  crates/key-server/src/package_info.rs
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

clean up
  crates/key-server/src/errors.rs
  crates/key-server/src/package_info.rs
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

Assume mvr points to first pkg
  crates/key-server/src/externals.rs
  crates/key-server/src/mvr.rs
  crates/key-server/src/package_info.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

revert
  deny.toml
Owners: none

doc
  crates/key-server/src/package_info.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

deny
  deny.toml
Owners: none

license
  deny.toml
Owners: none

deny 2
  deny.toml
Owners: none

simplify
  crates/key-server/src/package_info.rs
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

deny works
  deny.toml
Owners: none

license
  crates/key-server/src/package_info.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

error + todo
  crates/key-server/src/externals.rs
  crates/key-server/src/mvr.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

testnet
  crates/key-server/Cargo.toml
  crates/key-server/src/mvr.rs
  crates/key-server/src/package_info.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

clean up?
  crates/key-server/src/mvr.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

tests
  crates/key-server/src/externals.rs
  crates/key-server/src/mvr.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

.github/CODEOWNERS:

/examples @joyqvq @benr-ml @jonas-lj
/crates @jonas-lj @benr-ml @joyqvq
/move @jonas-lj @benr-ml @joyqvq
*.md @benr-ml @abhinavg6 @joyqvq @jonas-lj
