Repository MystenLabs/seal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joyqvq, @benr-ml, @jonas-lj, @abhinavg6

.github/CODEOWNERS:

/examples @joyqvq @benr-ml @jonas-lj
/crates @jonas-lj @benr-ml @joyqvq
/move @jonas-lj @benr-ml @joyqvq
*.md @benr-ml @abhinavg6 @joyqvq @jonas-lj

use fullnode instead of graphql for original package id
  crates/key-server/src/externals.rs
  crates/key-server/src/server.rs
  crates/key-server/src/types.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

update docs
  UsingSeal.md
  crates/key-server/src/types.rs
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

config file
  Cargo.lock
  crates/key-server/Cargo.toml
  crates/key-server/key-server-config.yaml
  crates/key-server/src/server.rs
  crates/key-server/src/tests/mod.rs
  crates/key-server/src/tests/server.rs
  crates/key-server/src/types.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

newline
  crates/key-server/key-server-config.yaml
Owners: @jonas-lj, @benr-ml, @joyqvq

lock
  Cargo.lock
Owners: none

fmt
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

fix
  crates/key-server/src/tests/mod.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

Readable duration format
  Cargo.lock
  crates/key-server/Cargo.toml
  crates/key-server/key-server-config.yaml
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

working config file
  crates/key-server/key-server-config.yaml
Owners: @jonas-lj, @benr-ml, @joyqvq

clean up after rebase
  crates/key-server/key-server-config.yaml
  crates/key-server/src/server.rs
  crates/key-server/src/tests/mod.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

refactor + default values
  crates/key-server/key-server-config.yaml
  crates/key-server/src/key_server_options.rs
  crates/key-server/src/server.rs
  crates/key-server/src/tests/mod.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

license + fmt
  Cargo.lock
  crates/key-server/src/key_server_options.rs
  crates/key-server/src/server.rs
  crates/key-server/src/tests/mod.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

default values
  Cargo.lock
  crates/key-server/src/key_server_options.rs
  crates/key-server/src/server.rs
  crates/key-server/src/tests/mod.rs
  crates/key-server/src/types.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

clean up
  crates/key-server/key-server-config.yaml
  crates/key-server/src/externals.rs
  crates/key-server/src/key_server_options.rs
  crates/key-server/src/server.rs
  crates/key-server/src/tests/mod.rs
  crates/key-server/src/types.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

newline
  crates/key-server/key-server-config.yaml
Owners: @jonas-lj, @benr-ml, @joyqvq

name
  crates/key-server/src/externals.rs
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

fixes
  crates/key-server/key-server-config.yaml
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

unit test
  crates/key-server/src/key_server_options.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

Only use config file if path set
  crates/key-server/src/key_server_options.rs
  crates/key-server/src/server.rs
  crates/key-server/src/types.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

docs
  crates/key-server/src/key_server_options.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

imports
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

clean up
  crates/key-server/key-server-config.yaml
  crates/key-server/src/key_server_options.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

config
  crates/key-server/key-server-config.yaml
Owners: @jonas-lj, @benr-ml, @joyqvq

Reuse todo
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

no default for network
  crates/key-server/key-server-config.yaml
  crates/key-server/src/key_server_options.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

config
  crates/key-server/key-server-config.yaml
Owners: @jonas-lj, @benr-ml, @joyqvq

docs
  UsingSeal.md
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

address comment
  crates/key-server/src/externals.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

Update UsingSeal.md
  UsingSeal.md
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

Add uptime metrics to key server
  Cargo.lock
  crates/key-server/Cargo.toml
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

add axum middle layer to collect HTTP request metrics
  crates/key-server/src/metrics.rs
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

address comments
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

clean up
  crates/key-server/src/metrics.rs
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

monitor and catch background task error
  crates/key-server/src/server.rs
  crates/key-server/src/tests/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

Add rpc timeout
  crates/key-server/src/externals.rs
  crates/key-server/src/key_server_options.rs
  crates/key-server/src/mvr.rs
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

use fullnode instead of graphql for original package id
  crates/key-server/src/externals.rs
  crates/key-server/src/server.rs
  crates/key-server/src/types.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

update docs
  UsingSeal.md
  crates/key-server/src/types.rs
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

add comments and return invalid package for object not found
  crates/key-server/src/externals.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

address comment
  crates/key-server/src/externals.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

Update UsingSeal.md
  UsingSeal.md
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj
