Repository MystenLabs/seal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @joyqvq, @benr-ml, @jonas-lj, @abhinavg6

.github/CODEOWNERS:

/examples @joyqvq @benr-ml @jonas-lj
/crates @jonas-lj @benr-ml @joyqvq
/move @jonas-lj @benr-ml @joyqvq
*.md @benr-ml @abhinavg6 @joyqvq @jonas-lj

review comments
  move/seal/sources/bf_hmac_encryption.move
Owners: @jonas-lj, @benr-ml, @joyqvq

revert
  move/seal/sources/bf_hmac_encryption.move
Owners: @jonas-lj, @benr-ml, @joyqvq

fix
  move/seal/sources/bf_hmac_encryption.move
Owners: @jonas-lj, @benr-ml, @joyqvq

fix test vector command
  move/patterns/sources/voting.move
Owners: @jonas-lj, @benr-ml, @joyqvq

feat: Add OpenAPI specification for Seal Key Server API
  README.md
  openapi.yaml
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

[key-server] use env var if node url not provided in config
  UsingSeal.md
  crates/key-server/key-server-config.yaml
  crates/key-server/src/key_server_options.rs
  crates/key-server/src/server.rs
  crates/key-server/src/types.rs
  docs/UsingSeal.md
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

release 0.4.8
  Cargo.lock
  Cargo.toml
Owners: none

try to reproduce error
  crates/key-server/src/server.rs
  crates/key-server/src/tests/error_handlings.rs
  crates/key-server/src/tests/invalid_policies/Move.toml
  crates/key-server/src/tests/invalid_policies/sources/policy1.move
  crates/key-server/src/tests/mod.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

[test] add simple tests for key servers
  tests/README.md
  tests/package.json
  tests/pnpm-lock.yaml
  tests/simple-seal-server.test.ts
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

[docs] add pkg id
  docs/UsingSeal.md
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

try to reproduce error
  crates/key-server/src/server.rs
  crates/key-server/src/tests/error_handlings.rs
  crates/key-server/src/tests/invalid_policies/Move.toml
  crates/key-server/src/tests/invalid_policies/sources/policy1.move
  crates/key-server/src/tests/mod.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

Add message to error and clean up
  crates/key-server/src/errors.rs
  crates/key-server/src/server.rs
  crates/key-server/src/tests/error_handlings.rs
  crates/key-server/src/tests/invalid_policies/Move.toml
  crates/key-server/src/tests/invalid_policies/sources/policy1.move
  crates/key-server/src/tests/mod.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

docs
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

msg
  crates/key-server/src/errors.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

revert
  crates/key-server/src/tests/mod.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

address comments
  tests/README.md
  tests/simple-seal-server.test.ts
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

[docs] on-chain decryption
  UsingSeal.md
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

fix header level
  UsingSeal.md
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

[docs] sync docs on onchain decryption
  UsingSeal.md
  docs/UsingSeal.md
Owners: @benr-ml, @abhinavg6, @joyqvq, @jonas-lj

[key-server] log and return noAccess error
  crates/key-server/src/errors.rs
  crates/key-server/src/server.rs
  crates/key-server/src/tests/tle.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

chore: fix logging runtime guard
  crates/key-server/src/server.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

[key-server] change error from struct to str
  crates/key-server/src/errors.rs
Owners: @jonas-lj, @benr-ml, @joyqvq

Unit test with one server
  move/seal/sources/bf_hmac_encryption.move
Owners: @jonas-lj, @benr-ml, @joyqvq
